html, body { 
  height: 100%;
  margin-left: 7px;
  margin-right: 7px;
  background-color: rgb(32, 32, 32);
}

.fullpage-pic {
  background-image: url("../assets/backgrounds/hero.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.company-logo {
  float: left;
  padding-left: 40px; 
}
.header {
  width:100%;
  padding-top: 40px;
}
.header-right {
  float: right;
  padding-right: 100px;
}
.header-right a {
  color:white;
  padding: 20px;
  text-decoration: none;
}
.header-right a:hover {
  color: black;
}

.description {
  margin-left:auto;
  margin-right: auto;
  position:relative;
  top: 100px;
  width: 70%;
  height: 50%;
  padding:20px;
  text-align: center;
  color: white;
}
.description h2 {
  font-size: 60px;

}
