html, 
body
 { 
  height: 100%;
  margin-left: 7px;
  margin-right: 7px;
  background-color: rgb(32, 32, 32);
}

.fullpage-pic {
  background-image: url("../assets/backgrounds/hero.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.company-logo {
  float: left;
  padding-left: 40px; 
}
.header {
  width:100%;
  padding-top: 40px;
}
.header-right {
  float: right;
  padding-right: 100px;
}
.header-right a {
  color:white;
  padding: 20px;
  text-decoration: none;
}
.header-right a:hover {
  color: black;
}

.description {
  margin-left:auto;
  margin-right: auto;
  position:relative;
  top: 200px;
  width: 70%;
  height: 50%;
  padding:20px;
  text-align: center;
  color: white;
}
.description h2 {
  font-size: 60px;
}
.description-paragraph {
  top: 60px;
  position: relative;
}
.description-paragraph p {
  font-size: 19px;
  padding: -10px;
}

.mouse-click {
  position: absolute;
  bottom: 20px;
  display: block;
  right:25%;
  left:50%;
}

.about-us {
  height:60%;
  background-image: url("../assets/backgrounds/about.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}

.about-border {
  border: 2px solid burlywood;
  width: 60%;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 70px;
  color: white;
  font-size: 30px;
}
.about-content {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top:20px;
  left:20px;
  text-align: center;
}

.promo {
  height: 12%;
  background-color: rgb(58, 48, 48);
  padding: 20px;
}
.twitter-bird {
  margin-left: 30px;
  
}
.promo-message {
  color: white;
  font-size: 20px;
  margin-left: 70px;
}

[footer] {
  background-color: rgb(61, 60, 60);
}
[footer-content] {
  color:white;
  font-size: 18px;
  padding: 50px;
  
}
[footer-content] h5 {
  padding-left: 10px;
  font-size: 25px;
}
[footer-content] br {
  content: "";
  line-height: 40px;
}
[footer-socials] {
  padding: 20px;
  color: white;
}
[footer-socials] a {
  text-decoration: none;
  padding: 5px;
}
[footer-socials] h5 {
  text-align: center;
}
[footer-right] {
  padding-top: 100px;
  color: white;
  text-align: center;
}
[border-right] {
  border-right: 1px solid white;
  padding-right: 20px;
}